@{
    Layout = "~/Views/Shared/_MWLayout.cshtml";
    ViewBag.Title = "Search";
}

<head>
    <title>@ViewBag.Title.</title>
</head>

<body>

    <!-- BEGIN BREADCRUMBS -->
    <div id="breadcrumbs" class="breadcrumbs bg-1">
        <div class="container">

            <ol class="breadcrumb">
                <li><a href="index.html">Trang chủ</a></li>
                <li class="active">Tìm kiếm</li>
            </ol>

            <h2>
                <strong>Tìm kiếm</strong>
            </h2>

        </div>
    </div>
    <!-- END BREADCRUMBS -->
    <!-- SEARCH RESULTS -->
    <section class="section">
        <div class="container">

            <div class="row">


                <div class="col-sm-12">

                    <form class="form-block">
                        <div class="input-group search-bar">
                            <input type="text" id="searchBox" class="form-control" name="search" placeholder="Nội dung...">
                            <span class="input-group-btn">
                                <button class="btn btn-green" type="button"><i class="fa fa-search"></i> Tìm kiếm</button>
                            </span>
                        </div>
                    </form>

                    <ul class="search-results">




                        <li class="search-result">
                            <div class="cover">
                            </div>
                        </li>

                    </ul>

                </div>


            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <ul class="pagination">
                        <li><a href="#" style="padding-left: 10px"><i class="fa fa-chevron-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><span>3</span></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" style="padding-left: 14px"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </section>
    <!-- END SEARCH RESULTS -->
    


    <script>
        $(document).ready(function () {
            $(function () {
                // Instantiate MixItUp:
               
                $('#gallery').mixItUp();
            });

            $("#searchBox").keyup(function () {                
                var keyword = $(this).val();
                var divText = "";
                var $resultDiv = $('.search-result');
                if (keyword.length > 0) {
                    $.ajax({
                        url: "/Search/GetResults/" + keyword,
                        dataType: "json",
                        async: true,
                        success: function (data) {

                            data.forEach(function (article, index) {
                                divText = divText + "<div class='cover'> <h4><a href='/Articles/Details/" + article.Id + "'>" + article.Title + "</a></h4> <p>" + article.Description + "</p></div>";
                            });
                            $resultDiv.html(divText);
                            data = "";
                        }
                    });
                }
                else
                    $resultDiv.html("");
            });
        });

    </script>

</body>
>