@{
    Layout = "~/Views/Shared/_MWLayout.cshtml";
    ViewBag.Title = "Search";
}
<head>
    <title>@ViewBag.Title.</title>
</head>
<body>
    <hidden id="searchString" data-id="@ViewBag.SearchString"></hidden>
    <!-- BEGIN BREADCRUMBS -->
    <div id="breadcrumbs" class="breadcrumbs bg-2">
        
    </div>
    <!-- END BREADCRUMBS -->
    <!-- SEARCH RESULTS -->
    <section class="section">
        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <form class="form-block">
                        <div class="input-group search-bar">
                            <input type="text" id="searchBox" class="form-control" name="search" placeholder="Nội dung..." value="@ViewBag.SearchString">
                            <span class="input-group-btn">
                                <button class="btn btn-green" type="button"><i class="fa fa-search"></i> Tìm kiếm</button>
                            </span>
                        </div>
                    </form>
                    <ul class="search-results">


                        <li class="search-result">
                            <div class="cover">
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <!-- END SEARCH RESULTS -->


    <script>
        $(document).ready(function () {
            $(function () {
                // Instantiate MixItUp:

                $('#gallery').mixItUp();
            });

            $("#searchBox").keyup(function () {
                var keyword = $(this).val();
                var divText = "";
                var $resultDiv = $('.search-result');
                typewatch(function () {
                    if (keyword.length > 0) {
                        $.ajax({
                            url: "/Search/GetResults/" + keyword,
                            dataType: "json",
                            async: true,
                            success: function (data) {

                                data.forEach(function (article, index) {
                                    divText = divText + "<div class='cover'> <h4><a href='/Articles/Details/" + article.Id + "'>" + article.Title + "</a></h4> <p>" + article.Description + "</p></div>";
                                });
                                $resultDiv.html(divText);
                                data = "";
                            }
                        });
                    }
                    else {
                        $resultDiv.html("");
                    }
                }, 500);
            });

            var typewatch = (function () {
                var timer = 0;
                return function (callback, ms) {
                    clearTimeout(timer);
                    timer = setTimeout(callback, ms);
                };
            })();

            var searchString = $('#searchString').attr('data-id');
            if (searchBox != null) {
                var divText = "";
                var $resultDiv = $('.search-result');
                if (searchString.length > 0) {
                    $.ajax({
                        url: "/Search/GetResults/" + searchString,
                        dataType: "json",
                        async: true,
                        success: function (data) {

                            data.forEach(function (article, index) {
                                divText = divText + "<div class='cover'> <h4><a href='/Articles/Details/" + article.Id + "'>" + article.Title + "</a></h4> <p>" + article.Description + "</p></div>";
                            });
                            $resultDiv.html(divText);
                            data = "";
                        }
                    });
                }
                else
                    $resultDiv.html("");
            }

        });

    </script>
</body>
>