*.cache
*.cache
MomWorld/bin/MomWorld.dll
MomWorld/DataContexts/Migrations/QuizMigrations/201503191630376_InitialCreate.cs
MomWorld/DataContexts/Migrations/QuizMigrations/201503191630376_InitialCreate.resx
*.cache
MomWorld/obj/Debug/MomWorld.DataContexts.Migrations.QuizMigrations.InitialCreate.resources
MomWorld/DataContexts/Migrations/QuizMigrations/201503191630376_InitialCreate.Designer.cs
MomWorld.v12.suo
*.cache
MomWorld.v12.suo
*.cache
*.cache
*.suo
*.dll
MomWorld/bin/MomWorld.dll
*.pdb
*.cache
MomWorld/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.Cache
*.dll