<div id="quiz">
    <h1 class="center">{{quiz.name}}</h1>
    <hr />
    <div ng-show="mode=='quiz'">
        <!-- <div ng-repeat="question in filteredQuestions"> -->
        <div ng-repeat="question in questions">
            <div class="question">
                <h2>{{$index + 1}}. {{question.Name}}</h2>
                <div class="options">
                    <div ng-repeat="option in question.Options">
                        <label for="{{option.Id}}">
                            <input id="{{option.Id}}" type="checkbox" ng-model="option.Selected" ng-change="onSelect(question, option);" />
                            {{option.Name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>


    <div class="result" ng-show="mode=='result'">
        <h2>Quiz Result</h2>
        <div ng-repeat="question in questions">
            <div class="result-question">
                <h3>{{$index + 1}}. {{question.Name}}</h3>
                <div class="result-options">
                    <div ng-repeat="Option in question.Options">
                        <label ng-click="onSelect(Option);" class="{{ (Option.Selected == Option.IsAnswer)? 'result-correct': 'result-incorrect' }}">
                            <input id="{{Option.Id}}" type="checkbox" disabled="disabled" readonly="readonly" ng-model="Option.Selected" />
                            {{Option.Name}}
                        </label>
                    </div>
                </div>
                <h4 class="alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is {{isCorrect(question)}}.</h4>
            </div>
        </div>
    </div>
    <hr />
    <div class="" ng-show="mode!='result'">
        <button class="btn btn-green" ng-click="onSubmit();">Nộp</button>
    </div>
    <div class="" ng-show="mode=='result'">
        <a class="btn btn-green" ng-href="http://localhost:4444/Quizzes">Trở về</a>
    </div>
</div>