<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>

    <!-- BASICS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Mom's World - Trang chủ</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="Content/images/favicon.png" />

    <link href="Content/css/vendor/bootstrap/bootstrap.min.css"
          rel="stylesheet">
    <link href="Content/css/vendor/font-awesome-4.2.0/css/font-awesome.min.css"
          rel="stylesheet">
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="Content/css/main.css">
    <link rel="stylesheet" href="Content/css/minimal.min.css">

</head>

<body>






    <!-- Preloader -->
    <div class="mask">
        <div id="loader"></div>
    </div>
    <!--/Preloader -->
    <!-- BEGIN NAVBAR -->
    <div class="navbar navbar-fixed-top" role="navigation"
         data-0="line-height:80px; height:80px;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);"
         data-300="line-height:40px; height:52px;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);">

        <div class="container">






            <!-- Branding -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html"
                   data-0="padding-top:23px;padding-left: 55px;background-position: 0 20px;background-size: 44px 44px;font-size: 24px;height: 80px;"
                   data-300="padding-top: 10px;padding-left: 40px;background-position: 0 7px;background-size: 34px 34px;font-size: 16px; height: 50px;margin-top:0;">
                    <strong>W</strong>ORLD <span class="subheading"
                                                 data-0="font-size: 11px;line-height: 13px;"
                                                 data-300="font-size: 9px;line-height: 8px;">Thế giới của mẹ</span>
                </a>
                <div class="navbar-toggle" data-toggle="collapse"
                     data-target=".navbar-collapse">
                    <a href="index.html#">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
            <!-- Branding end -->
            <!--.navbar-collapse -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="active">
                        <a href="index.html"
                           data-0="padding: 30px 25px 22px;"
                           data-300="padding: 15px 25px 10px;">
                            <img class="icon-nav"
                                 src="Content/images/icon-nav/home.png"> Trang chủ
                        </a>
                    </li>

                    <li>
                        <a href="pre-pregnancy.html"
                           data-0="padding: 30px 25px 22px;"
                           data-300="padding: 15px 25px 10px;">
                            <img class="icon-nav"
                                 src="Content/images/icon-nav/motherhood.png"> Làm mẹ
                        </a>
                    </li>



                    <li>
                        <a href="advisory.html" data-0="padding: 30px 25px 22px;"
                           data-300="padding: 15px 25px 10px;">
                            <img class="icon-nav"
                                 src="Content/images/icon-nav/advisory.png"> Tư vấn
                        </a>
                    </li>

                    <li>
                        <a href="video.html" data-0="padding: 30px 25px 22px;"
                           data-300="padding: 15px 25px 10px;">
                            <img class="icon-nav"
                                 src="Content/images/icon-nav/video.png"> Video
                        </a>
                    </li>




                    <!-- LOGIN BUTTON LINK -->
                    <!-- <li class="login"><a href="login.html"
                        data-0="padding: 30px 25px 22px;"
                        data-300="padding: 15px 25px 10px;"><img class="icon-nav"
                            src="Content/images/icon-nav/login.png"> Đăng nhập</a></li> -->
                    <!-- USE AFTER LOGIN -->
                    @Html.Partial("_LoginPartial")
            <!--/.navbar-collapse -->




        </div>

    </div>
    <!-- END NAVBAR -->
    <!-- BODY-CONTENT -->
    <div class="body-content">
        <section class="section">@RenderBody()</section>
    </div>
    <!-- END-BODY-CONTENT -->
    <!-- FOOTER -->
    <footer id="footer">

        <div class="footer-main">
            <div class="container">
                <div class="row">

                    <div class="col-md-4">

                        <div class="widget widget-about">
                            <img class="img-responsive" src="Content/images/slider/1.png"
                                 style="max-width: 30%;">
                            <h2>
                                <strong>Mom's </strong>World
                            </h2>
                        </div>
                    </div>


                    <div class="col-md-4">

                        <div class="widget widget-newsletter">

                            <h4>
                                <strong>Nhận bản tin</strong>
                            </h4>
                            <p>
                                Theo dõi bản tin của chúng tôi và luôn cập nhật các tin
                                tức mới nhất !
                            </p>

                            <div class="input-group">
                                <input type="text" class="form-control"
                                       placeholder="Nhập địa chỉ email của bạn"> <span class="input-group-btn">
                                    <button class="btn btn-theme" type="button">Đăng kí</button>
                                </span>
                            </div>

                        </div>

                    </div>


                    <div class="col-md-4">
                        <div class="widget widget-contact">
                            <h4>
                                <strong>Liên hệ</strong> với chúng tôi
                            </h4>
                            <address>
                                <strong>Địa chỉ :</strong> FPT_University - Đà Nẵng<br> <strong>
                                    Điện
                                    thoại :
                                </strong> +84 01655757445<br> <strong>Email:</strong> <a href="mailto:exc-group@gmail.com">exc-group@gmail.com</a><br>
                            </address>
                        </div>

                        <div class="widget widget-social">
                            <a href="index.html#">
                                <span class="overlay bg-cyan"></span>
                                <i class="fa fa-twitter" style="padding-left: 10px;"></i>
                            </a> <a href="index.html#">
                                <span class="overlay bg-blue"></span><i class="fa fa-facebook" style="padding-left: 14px;"></i>
                            </a> <a href="index.html#">
                                <span class="overlay bg-red"></span><i class="fa fa-google-plus" style="padding-left: 10px;"></i>
                            </a> <a href="index.html#">
                                <span class="overlay"></span><i class="fa fa-flickr" style="padding-left: 10px;"></i>
                            </a> <a href="index.html#">
                                <span class="overlay bg-hotpink"></span><i class="fa fa-dribbble" style="padding-left: 10px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 copyright">
                        &copy; Copyright 2014 by <a href="index.html#">KhoaHN</a>. All
                        Rights Reserved.
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- END FOOTER -->
    <!-- SCROLL TOP -->
    <div class="scroll-top">
        <a href="index.html#">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
    <!-- END SCROLL TOP -->











    <script src="Content/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="Content/js/vendor/jquery/jquery.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="Content/js/vendor/bootstrap/bootstrap.min.js"></script>

    <script src="Content/js/vendor/skrollr/skrollr.min.js"></script>

    <script src="Content/js/vendor/text-rotator/jquery.simple-text-rotator.js"></script>

    <script src="Content/js/vendor/owl-carousel/owl.carousel.min.js"></script>

    <script src="Content/js/vendor/nivo-lightbox/nivo-lightbox.min.js"></script>

    <script src="Content/js/vendor/tweet-js/jquery.tweet.min.js"></script>

    <script src="Content/js/vendor/jflickrfeed/jflickrfeed.min.js"></script>

    <script src="Content/js/vendor/appear/jquery.appear.js"></script>

    <script src="Content/js/minimal.min.js"></script>


</body>
</html>